@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, body[data-color-scheme='light'] {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
        --base-text: rgb(255, 255, 255);
    }

    body[data-color-scheme='dark'] {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --base-text: rgb(0, 5, 26);
    }

    @media (prefers-color-scheme: dark) {
        body {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
            --base-text: rgb(255, 255, 255);
        }

        #theme-toggle .theme-toggle--light {
            @apply block
        }
    }

    @media (prefers-color-scheme: light) {
        #theme-toggle .theme-toggle--dark {
            @apply block
        }
        
        .invert-color {
            filter: invert();
        }
        
        [data-color-scheme='dark'] .invert-color {
            filter: none;
        }
    }

    body {
        color: rgb(var(--foreground-rgb));
        background: linear-gradient(
                to bottom,
                transparent,
                rgb(var(--background-end-rgb))
        ) rgb(var(--background-start-rgb));
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-lg;
    }

    a {
        @apply underline;
        text-underline-offset: 2px;
    }
    
    a:hover {
        @apply no-underline;
    }

    select, select > option {
        @apply text-black;
        @apply cursor-pointer;
    }
}

#theme-toggle {
    position: relative;
    display: block;
    height: 40px;
    width: 60px;
    overflow: hidden;
}

#theme-toggle button
{
    letter-spacing: -2px;
    position: absolute;
    animation: none;
    display: none;
    left: 0;
    right: 0;
}

@keyframes distance {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 100%;
    }
}

/* Sunrise */
[data-color-scheme='dark'] #theme-toggle .theme-toggle--light,
[data-color-scheme='light'] #theme-toggle .theme-toggle--dark {
    animation: distance 1000ms linear 1 forwards;
    offset-path: path('M 30,70 C 10,70 5,10 30,10 M 30,10');
    offset-rotate: 0deg;
    display: block;
}

/* Sunset */
[data-color-scheme='dark'] #theme-toggle .theme-toggle--dark,
[data-color-scheme='light'] #theme-toggle .theme-toggle--light {
    animation: distance 1000ms linear 1 forwards;
    offset-path: path('M 30,10 C 60,10 60,70 30,70 M 30,70');
    offset-rotate: 0deg;
    display: block;
}

[data-color-scheme='light'] .invert-color {
    filter: invert();
}

.modal h1 {
    padding-top: 1rem;
}

.modal p {
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.modal-close {
    position: sticky;
    display: block;
    right: 0;
    top: 0;
    float: right;
    text-decoration: none;
    cursor: pointer;
}
